body {
  margin: 0;
  font-family: "Stack Sans Notch", sans-serif;
  font-weight: 400;
  background-color: lightgrey;
  color: #222;
}

html, body {
  height: 100%;       /* 让100%有参照 */
  margin: 0;
  padding: 0;
}
main, .main-container {
  height: 100vh;      /* 或 100%，取决于布局 */
}

/* --------------------------------------------------------- */ 
/* General */

header {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 1rem 3rem;
  background-color: lightgrey;
  border-bottom: 3px solid #613942;
}

header h1 {
  font-size: 40px;
  font-weight: 600;
}

/* --------------------------------------------------------- */ 

.main-container {
  align-items: center;
  display: grid;
  gap: 3vw;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0,0, 0.5)),
    url("images/back2.png");
  background-size: cover;
  background-position: center;
}

.picture,
.info-panel,
.panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* border: 1px dashed red; */
}

.picture {
  width: 33vw;
  background: transparent;
  align-items: flex-end;
}
.picture img {
  width: 25vw;
  height: auto;
  display: block;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}


.info-panel {
  position: relative;        /* 建立定位上下文 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40vw;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.4);
  color: #333;
  padding: 2rem;
  border-radius: 30px;
  gap: 2vh; 
  overflow: hidden;          /* 防止图片溢出 */
}

.name {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #333;
  text-align: left;
  margin: 0;                 /* 去掉默认外边距 */
}

.position {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #333;
  text-align: left;
  margin: 0;
}

.info-panel h2 {
  font-size: 50px;
  line-height: 1.3;
  margin: 0.5rem 0;          /* 控制标题上下间距 */
  text-align: left;
  font-family: "Stack Sans Notch";
  color: #333;
}

.bio {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  text-align: left;
  margin: 0;                 /* 去掉默认外边距 */
}

.info-panel a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.name, .position, .info-panel h2, .bio {
  padding: 0vh 2vw;
  /* border: 1px dashed red;  */
}

.panel-logo {
  position: absolute;
  right: 5vw;
  bottom: 2vh;
  width: 10vw;               /* 根据视觉调整 */
  height: auto;
  opacity: 1;              /* 略微透明更协调 */
  transition: opacity 0.3s ease;
}
.panel-logo:hover {
  opacity: 0.8;                /* 鼠标悬停时亮一点 */
}

.panel-logo2 {
  position: absolute;
  right: 2vw;
  top: 2vh;
  width: 5vw;               /* 根据视觉调整 */
  height: auto;
  opacity: 1;              /* 略微透明更协调 */
  transition: opacity 0.3s ease;
}
.panel-logo2:hover {
  opacity: 0.8;                /* 鼠标悬停时亮一点 */
}


.panel-container {
  flex-direction: column;
  /* width: 20vw; */
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 80%;
  height: 80%;
}

.panel {
  width: 12vw;
  height: 12vw;
  border: 0px solid #613942;
  border-radius:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.6s ease;
  /* left: 6vw */
}

.panel .overlay {
  position: absolute;
  border-radius: 50%;
  inset: 0;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.4s ease;
  text-decoration: none;
  font-weight: bold;
}

.panel.cv {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(255,255,255,0.4)),
    url("images/back3.png");
    background-size: cover;
    background-position: center;
}
.panel.projects {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(255,255,255,0.4)),
    url("images/back4.png");
    background-size: cover;
    background-position: center;
}
.panel.gallery {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(255,255,255,0.4)),
    url("images/back5.png");
    background-size: cover;
    background-position: center;
}



.panel:hover { transform: translateY(-10px); }
.panel:hover .overlay { background: rgba(0,0,0,0.4); opacity: 1; }
.panel .overlay:hover { background: rgba(0, 0, 0, 0.55); }



